<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h3>Edit type</h3>
<p>
    <a th:href="@{/inotes}">Back to notes list</a>
    <br>
    <a th:href="@{/types}">Back to types list</a>
</p>
<!--<th:block th:if="${message}">-->
<!--<p th:text="${message}"></p>-->
<!--</th:block>-->
<form th:action="@{/types/edit}" th:object="${type}" method="post">
    <input type="hidden" th:field="*{id}">
    <table >
        <tr>
            <td>Title</td>
            <td><label>
                <input type="text" th:field="*{name}"/>
            </label></td>
        </tr>
        <!--<tr>-->
        <!--<td>Type <p> </p></td>-->
        <!--<td>-->
        <!--<select th:field="*{type}">-->
        <!--<option th:each="t : ${types}" th:value="${t.id}" th:text="${t.name}"></option>-->
        <!--</select>-->
        <!--</td>-->
        <!--</tr>-->
        <tr>
            <td>description</td>
            <td><label>
                <textarea type="text" th:rows="10" th:cols="40"  th:field="*{description}"></textarea>
            </label></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Edit type"></td>
        </tr>
    </table>
</form>
</body>
</html>