<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
<h1> Are you sure delete this Note?</h1>
<p>
    <a th:href="@{/inotes}">Back to notes list</a>
    <br>
    <a th:href="@{/types}">Back to types list</a>

</p>

<form th:action="@{/inotes/delete}" th:object="${inote}" method="post">
    <input type="hidden" th:field="*{id}">
    <table border="1" >
        <tr>
            <td>Title</td>
            <td th:text="*{title}"> </td>
        </tr>
        <tr>
            <td>Type </td>
            <td th:text="*{type.name}">
            </td>
        </tr>
        <tr>
            <td>Content</td>
            <td th:text="*{content}"> </td>
        </tr>
    </table>
    <br/>
    <input type="submit" value="Delete">
</form>
</body>
</html>